---
---
/* LBNL Official Visual Identity Specifications */
:root {
  --lbnl-dark-blue: #00313C;
  --lbnl-teal: #007681;
  --lbnl-light-gray: #B1B3B3;
  --lbnl-dark-gray: #63666A;
  --lbnl-bright-grn: #84BD00;
}

/* Bulma Overrides */
.button.is-primary, .tag.is-primary, .title.is-primary, .subtitle.is-primary {
  background-color: var(--lbnl-teal) !important;
  color: #fff !important;
}

a {
  color: var(--lbnl-teal);
}

a:hover {
  color: #005d68; /* darken(teal) */
}

.navbar {
  background-color: var(--lbnl-dark-blue) !important;
}

.navbar-item {
  color: #ffffff !important;
}

.navbar-item:hover {
  color: var(--lbnl-bright-grn) !important;
  background-color: transparent !important;
}

.navbar-item.is-active {
  color: #ffffff !important;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  color: #212529;
}

.border {
  border-color: var(--lbnl-light-gray);
}

/* Code and Syntax Highlighting */
pre, code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace !important;
  background-color: #f8f9fa !important;
  border: 1px solid var(--lbnl-light-gray) !important;
  border-radius: 4px !important;
  color: #d33939 !important;
}

pre code {
  color: #212529 !important;
}
